<div class="deck-card">
    @if (WithImage || Position is FieldPosition.VerticalDown)
    {
        <img class="deck-card-img" src="/images/vortex1a.png">
    }
</div>

@code {
    [Parameter]
    public FieldPosition Position { get; set; }

    [Parameter]
    public bool WithImage { get; set; }
}
