
    <div class="opponent-display">
        
            <div class="opponent-hand">
                <PlayerHand Cards="Opponent.CurrentHand" HideInfo />
            </div>
            <div class="opponent-hp">
                <p class="text-right">Opponent - @Opponent.HP</p>
            </div>
        
    </div>


@code {
    [Parameter]
    public Duelist Opponent { get; set; }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        foreach (var parameter in parameters)
        {
            switch (parameter.Name)
            {
                case nameof(Opponent):
                    Opponent = (Duelist)parameter.Value;
                    break;
                default:
                    throw new ArgumentException($"Unknown parameter: {parameter.Name}");
            }
        }

        return base.SetParametersAsync(ParameterView.Empty);
    }
}

