@inject IGameService _gameService
@implements IDisposable

<div>
    <h3>@(Board.TurnCount + 1)</h3>
    <h3>@Board.CurrentTurn.Phase</h3>
    @if (Board.Player.Equals(Board.CurrentTurn.Duelist))
    {
        @if (Board.CurrentTurn.Phase < Phase.Battle)
        {
            <button class="btn btn-outline-primary" @onclick="() => _gameService.EnterPhase(Phase.Battle)">BATTLE</button>
        }
        <button class="btn btn-outline-primary" @onclick="() => _gameService.EndTurn()">END</button>
    }
</div>
@code {
    [Parameter]
    public Board Board { get; set; }

    protected override void OnInitialized()
    {
        _gameService.OnAction += StateHasChanged;
    }

    public void Dispose()
    {
        _gameService.OnAction -= StateHasChanged;
    }
}
