<div class="card ml-2 mr-2 card-cover" style="width: 4rem;">
    <div class="card-body">
        <h2 class="text-white">@DeckCount</h2>
    </div>
</div>
@code {
    [Parameter]
    public int DeckCount { get; set; }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        foreach (var parameter in parameters)
        {
            switch (parameter.Name)
            {
                case nameof(DeckCount):
                    DeckCount = (int)parameter.Value;
                    break;
                default:
                    throw new ArgumentException($"Unknown parameter: {parameter.Name}");
            }
        }

        return base.SetParametersAsync(ParameterView.Empty);
    }
}
