<div class="container-fluid">
    <div class="opponent-display">
        <div class="row">
            <div class="col-10">
                <PlayerHand Cards="Opponent.CurrentHand" HideInfo />
            </div>
            <div class="col-2">
                <h3 class="text-right">Opponent - @Opponent.HP</h3>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Player Opponent { get; set; }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        foreach (var parameter in parameters)
        {
            switch (parameter.Name)
            {
                case nameof(Opponent):
                    Opponent = (Player)parameter.Value;
                    break;
                default:
                    throw new ArgumentException($"Unknown parameter: {parameter.Name}");
            }
        }

        return base.SetParametersAsync(ParameterView.Empty);
    }
}
