@inject IPhaseService _phaseService
@inject ITurnService _turnService

<div>
    <h3>@(Board.TurnCount + 1)</h3>
    <h3>@Board.CurrentTurn.Phase</h3>
    @if (Board.Player.Equals(Board.CurrentTurn.Player))
    {
        @if (Board.CurrentTurn.Phase < Phase.Battle)
        {
            <button class="btn btn-outline-primary" @onclick="() => _phaseService.EnterPhase(Phase.Battle, Board)">BATTLE</button>
        }
        <button class="btn btn-outline-primary" @onclick="() => _turnService.EndTurn(Board)">END</button>
    }
</div>
@code {
    [Parameter]
    public Board Board { get; set; }
}
