@inject IPhaseService _phaseService
@implements IDisposable

@if (Show)
{
    <div class="absolutely">
        <div class="scroll-left">
            <h2>@Phase.ToString().ToUpper() PHASE... </h2>
        </div>
    </div>
}

@code {
    private Phase Phase;
    private int AnimationDuration;
    private bool Show;

    protected override void OnInitialized()
    {
        _phaseService.OnShow += (len, phase) =>
        {
            Phase = phase;
            AnimationDuration = len;
            Show = true;
            StateHasChanged();
        };
        _phaseService.OnHide += () =>
        {
            Show = false;
            StateHasChanged();
        };
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        foreach (var parameter in parameters)
        {
            switch (parameter.Name)
            {
                case nameof(Phase):
                    Phase = (Phase)parameter.Value;
                    break;
                default:
                    throw new ArgumentException($"Unknown parameter: {parameter.Name}");
            }
        }

        return base.SetParametersAsync(ParameterView.Empty);
    }

    public void Dispose()
    {
        _phaseService.OnShow -= (len, phase) =>
        {
            Phase = phase;
            AnimationDuration = len;
            Show = true;
        };
        _phaseService.OnHide -= () =>
        {
            Show = false;
            StateHasChanged();
        };
    }
}
<style>
    .absolutely {
        position: absolute;
        z-index: 1000;
        top: 15vh;
        width: 100%;
    }

    .scroll-left {
        height: 100px;
        overflow: hidden;
        position: relative;
        background: lightblue;
        border:16px black;
        color: white;
        border: 1px solid black;
    }

        .scroll-left h2 {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            line-height: 100px;
            text-align: center;
            /* Starting position */
            transform: translateX(-100%);
            /* Apply animation to this element */
            animation: scroll-left @(AnimationDuration)s linear infinite;
        }
    /* Move it (define the animation) */
    @@keyframes scroll-left {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }
</style>

