@page "/play"

<GameStateInfo A="Player" B="Opponent" />

@if (!GameEnded)
{
    <button @onclick="() => DamageOpponent(4000)">Win</button>

    <div>
        <p>Opponents Hand:</p>
        <PlayerHand Cards="Opponent.CurrentHand" />
    </div>

    <div>
        <p>Your Hand:</p>
        <PlayerHand Cards="Player.CurrentHand" />
    </div>
}
else
{
    <h3 class="text-center">Game Over</h3>
}

@code {
    private Player Player = PlayerBuilder.GetNewPlayer();
    private Player Opponent = PlayerBuilder.GetNewOpponent();

    private bool GameEnded;

    protected override async Task OnInitializedAsync()
    {
        for (int i = 0; i < 5; i++)
        {
            Opponent.DrawCard();
            Player.DrawCard();
            StateHasChanged();
            await Task.Delay(300);
        }
    }

    private void DamageOpponent(decimal amount)
    {
        Opponent.TakeDamage(amount);
        CheckForGameOver();
    }

    private void CheckForGameOver()
    {
        if (Player.OutOfHealth() || Opponent.OutOfHealth())
        {
            GameEnded = true;
        }
    }
}
