@page "/play"

<p>Opponent:</p>
<p>HP: @Opponent.HP</p>

<p>You:</p>
<p>HP: @Player.HP</p>

@if (!GameEnded)
{
    <button @onclick="() => DamageOpponent(4000)">Win</button>
}
else
{
    <p>Game Over</p>
}



@code {
    private Player Player = PlayerBuilder.GetNewPlayer();
    private Player Opponent = PlayerBuilder.GetNewOpponent();

    private bool GameEnded;

    private void DamageOpponent(decimal amount)
    {
        Opponent.HP -= amount;
        CheckForGameOver();
    }

    private void CheckForGameOver()
    {
        if (Player.OutOfHealth() || Opponent.OutOfHealth())
        {
            GameEnded = true;
        }
    }
}
