@page "/play"
@layout EmptyLayout

<h3 class="text-center">Turn: @(TurnCount + 1)</h3>

@if (!GameEnded)
{
    <div>
        <h3 class="text-right">Opponent - @Opponent.HP</h3>
        <div class="row">
            <div class="col-11">
                <PlayerHand Cards="Opponent.CurrentHand" HideInfo />
            </div>
            <div class="col-1">
                <DeckPreview DeckCount="Opponent.Deck.Count" />
            </div>
        </div>
    </div>

    <div>
        <h3 class="text-left">You - @Player.HP</h3>
        <div class="row">
            <div class="col-1">
                <DeckPreview DeckCount="Player.Deck.Count" />
            </div>
            <div class="col-11">
                <PlayerHand Cards="Player.CurrentHand" CanPlay="IsPlayerTurn()" />
            </div>
        </div>
    </div>

    @if (IsPlayerTurn())
    {
        <button class="btn" @onclick="EndTurn">END TURN</button>
    }
    else
    {
        <button class="btn" @onclick="EndTurn">END OPPONENTS TURN</button>
    }
}
else
{
    <h3 class="text-center">Game Over</h3>
}

@code {
    private Player Player;
    private Player Opponent;

    private Player StartingPlayer;
    private bool GameEnded;

    protected override async Task OnInitializedAsync()
    {
        Player = PlayerBuilder.GetNewPlayer();
        Opponent = PlayerBuilder.GetNewOpponent();

        Random rnd = new();

        StartingPlayer = rnd.Next(2) == 1 ? Opponent : Player;

        for (int i = 0; i < 5; i++)
        {
            Opponent.DrawCard();
            Player.DrawCard();
            StateHasChanged();
            await Task.Delay(300);
        }
    }

    private int TurnCount = 0;
    private bool IsPlayerTurn()
    {
        var isStartingPlayersTurn = TurnCount % 2 == 0;
        return StartingPlayer.Equals(Player) ? isStartingPlayersTurn : !isStartingPlayersTurn;
    }

    private void StartTurn(Player player)
    {
        var success = player.DrawCard();

        if (!success)
        {
            EndGame();
        }
    }

    private void EndTurn()
    {
        TurnCount++;
        StartTurn(IsPlayerTurn() ? Player : Opponent);
    }

    private void DamageOpponent(decimal amount)
    {
        Opponent.TakeDamage(amount);
        CheckForGameOver();
    }

    private void CheckForGameOver()
    {
        if (Player.OutOfHealth() || Opponent.OutOfHealth())
        {
            EndGame();
        }
    }

    private void EndGame()
    {
        GameEnded = true;
    }
}