<div class="d-flex justify-content-center">
    @foreach (var card in Cards)
    {
        if (card.GetType() == typeof(Monster))
        {
            var c = card as Monster;
            <div class="card ml-2 mr-2" style="width: 13rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Monster Name</h5>
                    <p class="text-center">A: @c.Attack</p>
                    <p class="text-center">D: @c.Defense</p>
                </div>
            </div>
        }
        else
        {
            <p>Dunno</p>
        }
    }
</div>

@code {
    [Parameter]
    public IList<BaseCard> Cards { get; set; }
}
