@page "/new" 
@inject NavigationManager Navigate

<h3>Pregame Screen</h3>

<button class="btn btn-primary" @onclick="StartGame">START</button>

@code {
    private void StartGame()
    {
        Navigate.NavigateTo("/play");
    }
}
