@page "/test"
@inject ILocalStorageService<TestClass> _localStorageService

<h3>Test</h3>

<input @bind="testClass.TestKey" />
<input @bind="testClass.TestVal" />

<button @onclick="Store">STORE</button>

<button @onclick="Get">RETRIEVE</button>

@if (retrievedVal is not null)
{
    <input @bind="retrievedVal.TestKey" />
    <input @bind="retrievedVal.TestVal" />
}

@code {
    TestClass testClass = new() { TestVal = "test", TestKey = "test" };
    TestClass retrievedVal;

    private async Task Store()
    {
        await _localStorageService.SetItem("test", testClass);

        testClass = new();
    }

    private async Task Get()
    {
        retrievedVal = await _localStorageService.GetItem("test");
    }

    private class TestClass
    {
        public string TestKey;
        public string TestVal;
    }
}
