<div class="deck-card">
    <h2 class="text-white over-img">@DeckCount</h2>
    <img class="deck-card-img" src="/images/vortex1a.png">
</div>
@code {
    [Parameter]
    public int DeckCount { get; set; }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        foreach (var parameter in parameters)
        {
            switch (parameter.Name)
            {
                case nameof(DeckCount):
                    DeckCount = (int)parameter.Value;
                    break;
                default:
                    throw new ArgumentException($"Unknown parameter: {parameter.Name}");
            }
        }

        return base.SetParametersAsync(ParameterView.Empty);
    }
}

<style>
    .deck-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 5.5em;
        height: 7.5em;
        border: 1px solid #aaa;
        border-radius: 10px;
    }

    .over-img {
        position: absolute;
        margin:30px;
        border-radius:10px;
    }
</style>
